.about-intro-sec-con-cntlr{
	text-align: center;
}
.about-intro-sec-con-cntlr p{
	margin-bottom: 25px;
	line-height: 1.3;
}
.about-intro-sec{
	padding-top: 30px;
	padding-bottom: 75px;
}
.about-our-story-sec{
	position: relative;
	background: #009fe1;
}
.about-our-story-con-contlr{
	display: flex;
	flex-wrap: wrap;
}
.our-story-con-lft,
.our-story-con-rgt{
	width: 50%;
}
.about-our-story-con-contlr {
    padding-top: 64px;
    padding-bottom: 112px;
}
.our-story-rgt-img-cntlr{
	padding-left: 50px;
	padding-right: 40px;
}
.our-story-sec-title{
	color: #fff;
	margin-bottom: 50px;
}
.our-story-sec-title-cntlr p{
	color: #fff;
	margin-bottom: 30px;
}
.our-story-sec-title-cntlr p:last-child{
	margin-bottom: 0;
}
.our-story-sec-title-cntlr {
    padding-top: 55px;
    padding-right: 30px;
}
.our-story-top-sketch{
	position: absolute;
	top: -1px;
	right: 0;
	left: 0;
	background-repeat: repeat-x;
	height: 75px;
}
.our-story-btm-sketch{
	position: absolute;
	bottom: -1px;
	right: 0;
	left: 0;
	background-repeat: repeat-x;
	height: 75px;
}
.vision-mission-con-cntlr {
    display: flex;
    flex-wrap: wrap;
}
.vision-con-cntlr, .mission-con-cntlr {
    width: 50%;
}
.vision-con-inner {
    padding-left: 15px;
    padding-right: 60px;
}
.mission-con-inner{
	padding-right: 15px;
    padding-left: 60px;
}
.mission-des-cntlr, .vision-des-cntlr {
    text-align: center;
    max-width: 420px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 55px;
}
.vision-mission-sec{
	padding-top: 90px;
}
.mission-des-cntlr .sec-entry-hdr, .vision-des-cntlr .sec-entry-hdr{
	padding-bottom: 30px;
}
.mission-img-cntlr img{
	height: 100%;
}
.vision-img-cntlr,
.mission-img-cntlr{
	position: relative;
}
.vision-mission-top-sketch{
	position: absolute;
	top: -1px;
	right: 0;
	left: 0;
	background-repeat: repeat-x;
	height: 75px;
}
.vision-mission-btm-sketch{
	position: absolute;
	bottom: -1px;
	right: 0;
	left: 0;
	background-repeat: repeat-x;
	height: 75px;
}
.has-inline-bg img{
	display: none;
}
.has-inline-bg .mis-vis-img {
    height: 427px;
    display: block;
}

.ab-about-grids-cntlr ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}
.ab-about-grids-cntlr ul li {
    width: 33.333%;
    padding: 0 15px;
    padding-bottom: 20px;
}
.ab-about-grid-item {
    text-align: center;
}
.ab-about-grid-item-img {
    margin-bottom: 30px;
}
.ab-about-grid-item-title{
	margin-bottom: 18px;
}
.ab-about-grid-item-img {
    margin-bottom: 30px;
    display: flex;
    max-height: 96px;
    justify-content: center;
    align-items: center;
}
.ab-about-grid-item-img i {
    max-height: 96px;
    display: inline-block;
}
.ab-about-grid-item-img i img {
    max-height: 96px;
    width: auto;
}
.ab-about-grid-item-desc p{
	padding: 0 16px;
}
.ab-about-grid-sec{
	padding-top: 150px;
	padding-bottom: 115px;
}
.ab-about-grid-item-title a{
	color: #333434;
	text-decoration: none;
}
.ab-about-grid-item-title a:hover{
	color: #009fe1;
}


@media (max-width: 1699px){
	.about-intro-sec{
		padding-top: 20px;
		padding-bottom: 60px;
	}
	.our-story-sec-title{
		margin-bottom: 40px;
	}
	.our-story-rgt-img-cntlr{
		padding-left: 45px;
		padding-right: 35px;
	}
	.vision-mission-sec{
		padding-top: 70px;
	}
	.mission-des-cntlr .sec-entry-hdr, .vision-des-cntlr .sec-entry-hdr{
		padding-bottom: 25px;
	}
	.mission-des-cntlr, .vision-des-cntlr{
		padding-bottom: 45px;
	}
	.ab-about-grid-sec{
		padding-top: 130px;
		padding-bottom: 90px;
	}
	.about-intro-sec-con-cntlr p{
		margin-bottom: 22px;
	}
}

@media (max-width: 1199px){
	.about-intro-sec{
		padding-top: 10px;
		padding-bottom: 50px;
	}
	.about-intro-sec-con-cntlr p{
		margin-bottom: 20px;
	}
	.our-story-sec-title-cntlr {
	    padding-top: 50px;
	    padding-right: 20px;
	}
}
@media (max-width: 991px){
	
}
@media (max-width: 768px){
	
}
@media (max-width: 575px){
	
}@media (max-width: 479px){
	
}
