.about-intro-sec-con-cntlr{
	text-align: center;
	max-width: 1100px;
	width: 100%;
	margin: 0 auto;
}
.about-intro-sec-con-cntlr p{
	margin-bottom: 25px;
	line-height: 1.3;
}
.about-intro-sec{
	padding-top: 30px;
	padding-bottom: 75px;
}
.about-our-story-sec{
	position: relative;
	background: #009fe1;
}
.about-our-story-con-contlr{
	display: flex;
	flex-wrap: wrap;
}
.our-story-con-lft,
.our-story-con-rgt{
	width: 50%;
}
.about-our-story-con-contlr {
    padding-top: 64px;
    padding-bottom: 112px;
}
.our-story-rgt-img-cntlr{
	padding-left: 50px;
	padding-right: 40px;
}
.our-story-sec-title{
	color: #fff;
	margin-bottom: 50px;
	text-transform: uppercase;
}
.our-story-sec-title-cntlr p{
	color: #fff;
	margin-bottom: 30px;
}
.our-story-sec-title-cntlr p:last-child{
	margin-bottom: 0;
}
.our-story-sec-title-cntlr {
    padding-top: 55px;
    padding-right: 30px;
}
.our-story-top-sketch{
	position: absolute;
	top: -1px;
	right: 0;
	left: 0;
	background-repeat: repeat-x!important;
	height: 75px;
}
.our-story-btm-sketch{
	position: absolute;
	bottom: -1px;
	right: 0;
	left: 0;
	background-repeat: repeat-x!important;
	height: 75px;
}
.vision-mission-con-cntlr {
    display: flex;
    flex-wrap: wrap;
    margin-right: -45px;
    margin-left: -45px;
}
.mission-vision-grid-col {
    width: 50%;
    padding-left: 60px;
    padding-right: 60px;
}
.mission-vision-des-cntlr {
    text-align: center;
    max-width: 420px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 55px;
}
.vision-mission-sec{
	padding-top: 90px;
	overflow: hidden;
}
.mission-vision-des-cntlr .sec-entry-hdr{
	padding-bottom: 30px;
}
.mission-vision-img-cntlr img{
	height: 100%;
}
.mission-vision-img-cntlr{
	position: relative;
}
.vision-mission-top-sketch{
	position: absolute;
	top: -1px;
	right: 0;
	left: 0;
	background-repeat: repeat-x!important;
	height: 75px;
}
.vision-mission-btm-sketch{
	position: absolute;
	bottom: -1px;
	right: 0;
	left: 0;
	background-repeat: repeat-x!important;
	height: 75px;
}
.has-inline-bg img{
	display: none;
}
.has-inline-bg .mis-vis-img {
    height: 427px;
    display: block;
}

.ab-about-grids-cntlr ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}
.ab-about-grids-cntlr ul li {
    width: 33.333%;
    padding: 0 15px;
    padding-bottom: 20px;
}
.ab-about-grid-item {
    text-align: center;
}
.ab-about-grid-item-img {
    margin-bottom: 30px;
}
.ab-about-grid-item-title{
	margin-bottom: 18px;
	text-transform: uppercase;
}
.ab-about-grid-item-img {
    margin-bottom: 30px;
    display: flex;
    max-height: 96px;
    justify-content: center;
    align-items: center;
}
.ab-about-grid-item-img i {
    max-height: 96px;
    display: inline-block;
}
.ab-about-grid-item-img i img {
    max-height: 96px;
    width: auto;
}
.ab-about-grid-item-desc p{
	padding: 0 16px;
}
.ab-about-grid-sec{
	padding-top: 150px;
	padding-bottom: 115px;
}
.ab-about-grid-item-title a{
	color: #333434;
	text-decoration: none;
}
.ab-about-grid-item-title a:hover{
	color: #009fe1;
}


@media (max-width: 1699px){
	.about-intro-sec{
		padding-top: 20px;
		padding-bottom: 60px;
	}
	.our-story-sec-title{
		margin-bottom: 40px;
	}
	.our-story-rgt-img-cntlr{
		padding-left: 45px;
		padding-right: 35px;
	}
	.vision-mission-sec{
		padding-top: 70px;
	}
	.mission-vision-des-cntlr .sec-entry-hdr{
		padding-bottom: 25px;
	}
	.mission-vision-des-cntlr{
		padding-bottom: 45px;
	}
	.ab-about-grid-sec{
		padding-top: 130px;
		padding-bottom: 90px;
	}
	.about-intro-sec-con-cntlr p{
		margin-bottom: 22px;
	}
	.has-inline-bg .mis-vis-img{
		height: 400px;
	}
	.ab-about-grid-item-img {
	    max-height: 70px;
	}
	.ab-about-grid-item-img i {
	    max-height: 70px;
	}
	.ab-about-grid-item-img i img {
	    max-height: 70px;
	}
}

@media (max-width: 1199px){
	.about-intro-sec{
		padding-top: 10px;
		padding-bottom: 50px;
	}
	.about-intro-sec-con-cntlr p{
		margin-bottom: 20px;
	}
	.our-story-sec-title-cntlr {
	    padding-top: 50px;
	    padding-right: 20px;
	}
	.our-story-rgt-img-cntlr{
		padding-left: 40px;
		padding-right: 30px;
	}
	.our-story-sec-title-cntlr p{
		margin-bottom: 25px;
	}
	.about-our-story-con-contlr {
	    padding-bottom: 100px;
	}
	.vision-mission-sec{
		padding-top: 55px;
	}
	.mission-vision-des-cntlr .sec-entry-hdr{
		padding-bottom: 20px;
	}
	.mission-vision-des-cntlr{
		padding-bottom: 35px;
	}
	.vision-mission-con-cntlr {
	    margin-right: -35px;
	    margin-left: -35px;
	}
	.mission-vision-grid-col {
	    padding-left: 50px;
	    padding-right: 50px;
	}
	.ab-about-grid-sec{
		padding-top: 110px;
		padding-bottom: 80px;
	}
	.has-inline-bg .mis-vis-img{
		height: 350px;
	}
	.ab-about-grid-item-img {
	    max-height: 60px;
	}
	.ab-about-grid-item-img i {
	    max-height: 60px;
	}
	.ab-about-grid-item-img i img {
	    max-height: 60px;
	}
	.our-story-sec-title{
		margin-bottom: 30px;
	}
}
@media (max-width: 991px){
	.about-intro-sec{
		padding-top: 0px;
		padding-bottom: 40px;
	}
	.about-intro-sec-con-cntlr .sec-entry-hdr{
		padding-bottom: 20px;
	}
	.about-intro-sec-con-cntlr p{
		margin-bottom: 18px;
	}
	.our-story-sec-title-cntlr {
	    padding-top: 30px;
	    padding-right: 10px;
	}
	.our-story-rgt-img-cntlr{
		padding-left: 30px;
		padding-right: 20px;
	}
	.our-story-sec-title-cntlr p{
		margin-bottom: 20px;
		font-size: 16px;
	}
	.about-our-story-con-contlr {
	    padding-bottom: 90px;
	}
	.vision-mission-sec{
		padding-top: 35px;
	}
	.mission-vision-des-cntlr{
		padding-bottom: 20px;
	}
	.mission-vision-des-cntlr .sec-entry-hdr{
		padding-bottom: 10px;
	}
	.has-inline-bg .mis-vis-img{
		height: 300px;
	}
	.vision-mission-con-cntlr {
	    margin-right: -25px;
	    margin-left: -25px;
	}
	.mission-vision-grid-col {
	    padding-left: 40px;
	    padding-right: 40px;
	}
	.ab-about-grid-sec{
		padding-top: 85px;
		padding-bottom: 65px;
	}
	.ab-about-grid-item-img {
	    max-height: 50px;
	}
	.ab-about-grid-item-img i {
	    max-height: 50px;
	}
	.ab-about-grid-item-img i img {
	    max-height: 50px;
	}
	.ab-about-grid-item-img{
		margin-bottom: 25px;
	}
	.ab-about-grid-item-desc p{
		padding: 0;
		font-size: 16px;
	}
	.ab-about-grids-cntlr ul{
		margin: 0 -10px;
	}
	.ab-about-grids-cntlr ul li{
		padding: 0 10px;
		padding-bottom: 20px;
	}
}
@media (max-width: 767px){
	.about-intro-sec-con-cntlr .sec-entry-hdr{
		padding-bottom: 15px;
		padding-top: 30px;
	}
	.about-intro-sec-con-cntlr p{
		margin-bottom: 16px;
	}
	.about-intro-sec{
		padding-bottom: 30px;
	}
	.our-story-con-lft,
	.our-story-con-rgt{
		width: 100%;
	}
	.our-story-con-lft{
		order: 2;
	}
	.our-story-con-rgt{
		order: 1;
	}
	.about-our-story-con-contlr {
	    padding-top: 90px;
	}
	.our-story-rgt-img-cntlr{
		padding-left: 0;
		padding-right: 0;
	}
	.our-story-con-rgt-inner{
		max-width: 500px;
		width: 100%;
		margin: 0 auto;
	}
	.our-story-sec-title-cntlr {
	    padding-top: 50px;
	    padding-right: 0;
	    text-align: center;
	}
	.vision-mission-con-cntlr{
		margin: 0 -20px;
	}
	.mission-vision-grid-col {
	    width: 100%;
	}
	.vision-mission-con-cntlr {
	    margin-right: 0px;
	    margin-left: 0px;
	}
	.mission-vision-grid-col {
	    padding-left: 0px;
	    padding-right: 0px;
	}
	.ab-about-grids-cntlr ul{
		margin: 0;
	}
	.ab-about-grids-cntlr ul li{
		padding-left: 0;
		padding-right: 0;
		width: 100%;
		padding-bottom: 20px;
	}
	.ab-about-grid-item{
		max-width: 400px;
		width: 100%;
		margin: 0 auto;
	}
	.ab-about-grid-sec{
		padding-top: 70px;
		padding-bottom: 50px;
	}
	
}
@media (max-width: 575px){
	.about-intro-sec-con-cntlr .sec-entry-hdr{
		padding-bottom: 5px;
	}
	.about-intro-sec{
		padding-bottom: 20px;
	}
	.vision-mission-sec{
		padding-top: 20px;
	}
	.ab-about-grid-sec{
		padding-top: 60px;
		padding-bottom: 40px;
	}
	
}@media (max-width: 479px){
	
}
