.contact-form-sec-wrp {
    padding-top: 75px;
    padding-bottom: 70px;
}
.contect-form-block{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}
.contact-form-rgt,
.contact-form-lft {
    width: 50%;
    padding: 0 15px;
}
.cntct-form-title{
    line-height: 1.2;
    margin-bottom: 35px;
}
.contact-form-info-cntlr {
    padding-left: 20px;
    padding-top: 24px;
}
.contact-form-dsc-wrp {
    padding-left: 25px;
    padding-right: 100px;
}
.cntct-dtails {
    position: relative;
}
.cntct-dtails > i {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.cntct-tel.cntct-dtails {
    margin-bottom: 88px;
}
.cntct-mail.cntct-dtails{
    margin-bottom: 66px;
}
.cntct-addres.cntct-dtails{
    margin-bottom: 50px;
}
.cntct-addres.cntct-dtails i{
    left: 7px;
    top: 25px;
}
.cntct-dtails a{
    display: inline-block;
    position: relative;
    text-decoration: none;
    font-family: 'Luckiest Guy', cursive;
    font-size: 25px;
    font-weight: 400;
    color: #333434;
    line-height: 1.2;
    padding-left: 90px;
}
.cntct-dtails a i{
    position: absolute;
    right: -24px;
    top: -23px;
}
.cntct-dtails a:hover{
    color: #ff1000;
}
.contact-follow-us-sec .sec-entry-hdr {
    padding-bottom: 15px;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container {
    margin: 0 -10px;
    display: flex;
    flex-wrap: wrap;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field {
    width: 100%;
    padding: 0 10px;
    margin-bottom: 13px;
    position: relative;
} 
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field.wpforms-field-textarea textarea,
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field.FullWidthField textarea{
    height: 170px!important;
    display: block;
    resize: none;
    padding-top: 20px!important;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field.wpforms-field-textarea{
    width: 100%;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field.wpforms-field-textarea textarea,
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field input {
    width: 100%;
    max-width: 100%;
    height: 46px;
    background: #fff;
    border: 2px solid #008ed9;
    box-sizing: border-box;
    padding: 16px 16px 13px 22px;
    color: #acacac!important;
    font-size: 12px;
    border-radius: 7px!important;
    line-height: 1;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field-textarea textarea:focus, 
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field input:focus {
    border-color: #333434;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-submit-container button {
    min-width: 210px;
    border: 2px solid #008ed9!important;
    background: #008ed9;
    font-size: 16px!important;
    line-height: 1 !important;
    color: #fff!important;
    text-transform: uppercase;
    font-weight: 700!important;
    transition: all 0.5s!important;
    -ms-transition: all 0.5s!important;
    -webkit-transition: all 0.5s!important;
    cursor: pointer!important;
    padding: 14px 15px!important;
    padding-top: 16px!important;
    text-align: center;
    border-radius: 7px!important;
    font-family: 'Montserrat', sans-serif;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-submit-container button:hover {
    background: transparent!important;
    color: #008ed9!important;
    border-color: #008ed9!important;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container:after, 
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container:before {
    content: "";
    clear: both;
    display: table;
}
input[type=text], 
input[type=email], 
input[type=tel], 
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container label.wpforms-error {
    display: none;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field.wpforms-has-error label.wpforms-error {
    display: block;
    position: static;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-has-error label.wpforms-error {
    font-weight: 500;
    font-size: 12px;
    padding-left: 2px;
    position: absolute;
    top: -29px;
    right: 21px;
    color: #D61D1D;
    margin-bottom: 0;
    margin-top: 5px;
    padding-left: 5px;
    line-height: 1;
    text-transform: inherit;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field.wpforms-has-error input[type="email"].wpforms-error, 
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field.wpforms-has-error input[type="text"].wpforms-error, 
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field.wpforms-has-error input[type="number"].wpforms-error {
    border: 1px solid #D61D1D !important;
}



.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-has-error input::-webkit-input-placeholder { / Chrome/Opera/Safari /
  text-transform: capitalize !important;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-has-error input::-moz-placeholder { / Firefox 19+ /
  text-transform: capitalize !important;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-has-error input:-ms-input-placeholder { / IE 10+ /
  text-transform: capitalize !important;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-has-error input:-moz-placeholder { / Firefox 18- /
  text-transform: capitalize !important;
}




.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field input::placeholder,
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field textarea::placeholder{
    color:#acacac!important;
    opacity:1;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field input::-webkit-input-placeholder,
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field textarea::-webkit-input-placeholder{ / Chrome/Opera/Safari /
    color:#acacac!important;
    opacity:1;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field input::-moz-placeholder,
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field textarea::-moz-placeholder{ / Firefox 19+ /
    color:#acacac!important;
    opacity:1;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field input:-ms-input-placeholder,
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field textarea:-ms-input-placeholder{ / IE 10+ /
    color:#acacac!important;
    opacity:1;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field input:-moz-placeholder,
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field textarea:-moz-placeholder{ / Firefox 18- /
    color:#acacac!important;
    opacity:1;
}







.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-has-error label.wpforms-field-label {
    color: #525051;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field.wpforms-has-error input.wpforms-error::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #D61D1D!important;
  opacity: 1;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field.wpforms-has-error input.wpforms-error::-moz-placeholder { /* Firefox 19+ */
  color: #D61D1D!important;
  opacity: 1;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field.wpforms-has-error input.wpforms-error:-ms-input-placeholder { /* IE 10+ */
  color: #D61D1D!important;
  opacity: 1;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field.wpforms-has-error input.wpforms-error:-moz-placeholder { /* Firefox 18- */
  color: #D61D1D!important;
  opacity: 1;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field.wpforms-has-error textarea.wpforms-error::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #D61D1D!important;
  opacity: 1;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field.wpforms-has-error textarea.wpforms-error::-moz-placeholder { /* Firefox 19+ */
  color: #D61D1D!important;
  opacity: 1;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field.wpforms-has-error textarea.wpforms-error:-ms-input-placeholder { /* IE 10+ */
  color: #D61D1D!important;
  opacity: 1;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field.wpforms-has-error textarea.wpforms-error:-moz-placeholder { /* Firefox 18- */
  color: #D61D1D!important;
  opacity: 1;
}



/*map-start*/

.contact-google-map-wrp{
    position: relative;
}
.contact-google-map iframe{
    height: 590px;
    width: 100%;
    vertical-align: bottom;
}
.contact-google-parachute{
    position: absolute;
    left: -55px;
    bottom: 100px;
}
.contact-parachute-icon {
    position: absolute;
    right: -130px;
    top: -300px;
}





.contact-follow-us-sec{
    padding-top: 50px;
    padding-bottom: 60px;
}
.follow-us-sec-title {
    margin-bottom: 62px;
    text-align: center;
}
.follow-us-socials ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
.follow-us-socials ul li{
    padding: 0 22px;
}
.follow-us-socials ul li a i,
.follow-us-socials ul li a{
    display: inline-block;
}
.follow-us-socials ul li a:hover i img{
    transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
}



/*our-location-sec*/
.our-location-con-innr{
    display: flex;
    flex-wrap: wrap;
}
.our-location-rgt{
    width: 48%;
}
.our-location-lft{
    width: 52%;
}
.our-location-info-title{
    line-height: 1.2;
    margin-bottom: 40px;
}
.hm-cntct-tel a,
.hm-cntct-addres a{
    display: inline-block;
    text-decoration: none;
    color: #333434;
}
.hm-cntct-tel a:hover,
.hm-cntct-addres a:hover{
    color: #009fe1;
}
.hm-cntct-tel span{
    display: inline-block;
    color: #009fe1;
}
.hm-cntct-addres{
    margin-bottom: 24px;
}
.our-location-form-dtails{
    padding-bottom: 71px;
}
.our-location-info-cntlr{
    padding-top: 90px;
}
.our-location-sec-title-cntlr .sec-entry-hdr{
    padding-bottom: 50px;
}
/*hm-cnt-map-start*/
.our-location-google-map-wrp{
    position: relative;
}
.our-location-google-map iframe{
    height: 377px;
    width: 100%;
    vertical-align: bottom;
}
.our-location-google-parachute{
    position: absolute;
    left: -55px;
    bottom: 100px;
}
.our-location-parachute-icon {
    position: absolute;
    right: -130px;
    top: -300px;
}

/*hm-cnt-map-position-start*/

.our-location-sec{
    position: relative;
    padding-bottom: 60px;
}
.our-location-map-cntlr{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

















/*responsive-start*/
@media (max-width: 1699px){
    .contact-form-sec-wrp {
        padding-top: 65px;
        padding-bottom: 60px;
    }   
    .contact-sec-entry-hdr-title{
        margin-bottom: 80px;
    }
    .contact-google-map iframe{
        height: 550px;
    }
    .cntct-dtails a{
        font-size: 24px;
    }
    .cntct-tel.cntct-dtails {
        margin-bottom: 82px;
    }
    .contact-follow-us-sec {
        padding-top: 40px;
    }
    .contact-follow-us-sec .sec-entry-hdr {
        padding-bottom: 10px;
    }
    .our-location-sec-title-cntlr .sec-entry-hdr{
        padding-bottom: 40px;
    }
    .our-location-info-title{
        margin-bottom: 35px;
    }
    .our-location-info-cntlr {
        padding-top: 80px;
    }
}
@media (max-width: 1199px){
    .contact-form-sec-wrp {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .cntct-tel.cntct-dtails {
        margin-bottom: 70px;
    }
    .cntct-mail.cntct-dtails{
        margin-bottom: 60px;
    }
    .contact-follow-us-sec{
        padding-top: 30px;
        padding-bottom: 50px;
    }
    .contact-follow-us-sec .sec-entry-hdr {
        padding-bottom: 0px;
    }
    .contact-google-map iframe{
        height: 500px;
    }
    .our-location-sec-title-cntlr .sec-entry-hdr{
        padding-bottom: 30px;
    }
}
@media (max-width: 991px){
    .contact-form-info-cntlr {
        padding-left: 10px;
    }
    .cntct-dtails a{
        font-size: 22px;
        padding-left: 80px;
    }
    .cntct-dtails > i > img{
        max-width: 40px;
        width: auto;
    }
    .cntct-addres.cntct-dtails i{
        top: 23px;
    }
    .cntct-addres.cntct-dtails i img {
        max-height: 45px;
    }
    .cntct-tel.cntct-dtails {
        margin-bottom: 60px;
    }
    .contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field.wpforms-field-textarea textarea{
        padding-top: 16px!important;
        height: 150px!important;
    }
    .contact-form-dsc-wrp {
        padding-left: 15px;
        padding-right: 30px;
    }
    .contact-follow-us-sec{
        padding-top: 20px;
        padding-bottom: 45px;
    }
    .contact-follow-us-sec .sec-entry-hdr .sec-entry-hdr-title{
        padding-bottom: 28px;
    }
    .follow-us-socials ul li a i img {
        max-height: 50px;
        width: auto;
    }
    .cntct-form-title{
        margin-bottom: 30px;
    }
    .our-location-info-cntlr {
        padding-top: 60px;
    }
    .contact-google-map iframe{
        height: 450px;
    }
    .our-location-google-map iframe{
        height: 340px;
    }
}
@media (max-width: 767px){
    .contact-form-sec-wrp{
        padding-bottom: 30px;
    }
    .contect-form-block{
        margin: 0;
    }
    .contact-form-rgt, .contact-form-lft{
        width: 100%;
        padding: 0;
        padding-bottom: 30px;
    }
    .contact-form-dsc-wrp{
        max-width: 570px;
        width: 100%;
        margin: 0 auto;
        padding: 0;
    }
    .contact-form-info-cntlr{
        max-width: 400px;
        width: 100%;
        margin: 0 auto;
        padding-left: 0;
    }
    .cntct-mail.cntct-dtails,
    .cntct-tel.cntct-dtails {
        margin-bottom: 50px;
    }
    .cntct-form-title{
        text-align: center;
    }
    .cntct-dtails a{
        font-size: 18px;
    }
    .contact-google-map iframe{
        height: 430px;
    }
    .contact-follow-us-sec{
        padding-top: 10px;
        padding-bottom: 40px;
    }
    .contact-follow-us-sec .sec-entry-hdr .sec-entry-hdr-title{
        padding-bottom: 20px;
    }
    .our-location-lft,
    .our-location-rgt{
        width: 100%;
    }
    .our-location-map-cntlr{
        position: static;
        width: initial!important;
        top: initial!important;
    }
    .our-location-info-cntlr {
        max-width: 400px;
        width: 100%;
        margin: 0 auto;
        padding-top: 0;
    }
    .our-location-info-title{
        text-align: center;
    }
    .our-location-sec-title-cntlr .sec-entry-hdr{
        padding-bottom: 18px;
    }
    .our-location-sec{
        padding-bottom: 40px;
    }

}
@media (max-width: 575px){
    .cntct-dtails > i > img{
        max-width: 35px;
    }
    .cntct-addres.cntct-dtails i img {
        max-height: 38px;
    }
    .cntct-addres.cntct-dtails i{
        top: 19px;
        left: 20px;
    }
    .cntct-addres.cntct-dtails,
    .cntct-mail.cntct-dtails,
    .cntct-tel.cntct-dtails {
        margin-bottom: 40px;
    }
    .contact-follow-us-sec{
        padding-top: 0px;
    }
    .contact-follow-us-sec .sec-entry-hdr .sec-entry-hdr-title{
        padding-bottom: 15px;
    }
    .follow-us-socials ul li a i img {
        max-height: 40px;
    }
    .follow-us-socials ul li{
        padding: 0 18px;
    }
    .contact-google-map iframe{
        height: 400px;
    }
    .our-location-form-dtails{
        padding-bottom: 50px;
    }
    .cntct-dtails > i {
        left: 15px;
    }

}
@media (max-width: 479px){
    .contact-form-lft{
        padding-bottom: 15px;
    }
    .contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field.wpforms-field-textarea textarea, 
    .contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field input{
        height: 42px;
        padding: 14px 14px 10px 15px;
    }
    .contact-follow-us-sec .sec-entry-hdr .sec-entry-hdr-title{
        padding-bottom: 10px;
    }
    .follow-us-socials ul li{
        padding: 0 15px;
    }
}
@media (max-width: 359px){
    .contact-form-wrp .wpforms-container .wpforms-form .wpforms-submit-container button{
        width: 100%;
    }
    .hm-cntct-addres a br{
        display: none;
    }
    .our-location-info-title{
        margin-bottom: 30px;
    }
    .hm-cntct-tel a,
    .hm-cntct-addres a,
    .hm-cntct-tel span{
        font-size: 15px;
    }
    .cntct-addres.cntct-dtails i{
        left: 4px;
    }
    .cntct-dtails > i {
        left: 0;
    }
    .cntct-dtails a{
        font-size: 17px;
        padding-left: 60px;
    }
    .cntct-dtails > i > img{
        max-width: 32px;
    }
    .cntct-addres.cntct-dtails i img {
        max-height: 35px;
    }
    .cntct-addres.cntct-dtails i{
        top: 18px;
    }
}

