.header{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	
}
.header > .container > .row > .col-md-12{
	position: static;
}
.header-topbar-cntlr{
	position: relative;
	margin-bottom: 138px;
	z-index: 11;
}
.top-sketch{
	height: 75px;
	background-size: cover!important;
	background-repeat: repeat!important;
	background-position: center center!important;
	position: absolute;
	bottom: -75px;
	left: 0;
	right: 0;
	z-index: 9;
	cursor: pointer;
}
.header-cntlr{
	/*position: relative;*/
}
.header-topbar{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	
}
.hdr-details{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: 0 -23px;
}
.hdr-tel{
	padding: 0 23px;
}
.hdr-tel span{
	font-weight: 400;
	color: #009fe1;
	font-family: 'Luckiest Guy', cursive;
	line-height: 1;
	font-size: 16px;
}
.hdr-tel span a{
	display: inline-block;
	text-decoration: none;
	padding-left: 5px;
	color: #333434;
}
.hdr-tel span a:hover{
	color: #009fe1;
}
.hdr-open-time{
	padding: 0 23px;
}
.hdr-open-time span{
	font-weight: 400;
	color: #009fe1;
	font-family: 'Luckiest Guy', cursive;
	line-height: 1;
	font-size: 16px;
}
.hdr-open-time span span.open-time-schedule{
	padding-left: 5px;
	color: #333434;
}
.hdr-addr-socials-cntlr{
	margin-left: auto;
	display: flex;
	align-items: center;
	flex-wrap: wrap;

}
.hdr-addr{
	padding-right: 26px;
}
.hdr-addr a{
	position: relative;
	display: inline-block;
	text-decoration: none;
	padding-left: 35px;
	color: #333434;
	font-weight: 400;
	font-family: 'Luckiest Guy', cursive;
	line-height: 1;
	font-size: 16px;
}
.hdr-addr a:hover{
	color: #009fe1;
}
.hdr-addr a i{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	left: 0;
	display: inline-block;
}
.hdr-socials{

}
.hdr-socials ul{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: 0 -9px;
}
.hdr-socials ul li{
	padding: 0 9px;
}
.hdr-socials ul li a{
	display: inline-block;
}
.hdr-socials ul li a:hover{
	opacity: 0.8;
}
.hdr-logo{
	position: absolute;
	left: 50%;
	top: 12px;
	transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	z-index: 13;
}
.header-inr{

}

.hdr-menu{
	position: relative;
	z-index: 13;
}

nav.main-nav ul li a{
	font-weight: 900;
	font-size: 16px;
	color: #fff;
	display: inline-block;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
}
nav.main-nav > ul{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 -19px;
	padding-top: 18px;
}
nav.main-nav > ul > li{
	padding: 0 19px;
	position: relative;
}
nav.main-nav > ul > li.menu-item-has-children a{
	padding-right: 20px;
}
nav.main-nav > ul > li.menu-item-has-children > a:before {
    content: "\f107";
    position: absolute;
    right: 0;
    color: #fff;
    font-size: 20px;
    top: 0;
    font-family: 'Font Awesome\ 5 Free';
    font-style: normal;
    font-weight: 600;
    text-decoration: inherit;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
nav.main-nav > ul > li.menu-item-has-children:hover > a:before {
    transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
}

nav.main-nav > ul > li > a{
	padding-bottom: 18px;
}
nav.main-nav > ul > li > a:after{
	content: "";
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	bottom: 0;
	transform-origin: left;
	width: 0;
	height: 10px;
	background-image: url('../images/hover-line.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
nav.main-nav > ul > li.menu-item-has-children > a:hover:after{
	content: none;
	display: none;
}

nav.main-nav > ul > li > a:hover:after{
	width: 62px;
}

nav.main-nav > ul > li.current-menu-item a{
	color: #009fe1;
}

nav.main-nav > ul > li.menu-item-has-children ul.sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    z-index: 10;
    width: 200px;
    padding: 0;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transform: scale3d(1,0,1);
    -ms-transform: scale3d(1,0,1);
    -webkit-transform: scale3d(1,0,1);
    -o-transform: scale3d(1,0,1);
    transform-origin: top;
    opacity: 0;
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 15%);
    -ms-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.15%);
    -webkit-box-shadow: 0 2px 12px 0 rgb(0 0 0 / 15%);
}
nav.main-nav > ul > li.menu-item-has-children:hover ul.sub-menu {
    transform: scale3d(1,1,1);
    -ms-transform: scale3d(1,1,1);
    -webkit-transform: scale3d(1,1,1);
    -o-transform: scale3d(1,1,1);
    opacity: 1;
    visibility: visible;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li {
    border-bottom: 1px solid #009fe1;
    position: relative;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li:last-child{
	border-bottom: none;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li a{
	font-size: 14px;
	color: #333434;
	display: block;
	padding: 7px 19px;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li a:hover{
	color: #009fe1;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li:after {
    position: absolute;
    content: '';
    background: #009fe1;
    top: 0;
    left: 0;
    bottom: 0;
    width: 2px;
    height: 0;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu > li:hover:after {
    height: 100%;
}





.hamburger-icon {
    height: 17px;
    width: 22px;
    position: relative;
}
.hamburger-icon span {
    position: absolute;
    content: "";
    height: 3px;
    left: 0;
    right: 0;
    top: 0;
    background: #000;
}
.hamburger-icon span:nth-child(2) {
    top: 7px;
}
.hamburger-icon span:nth-child(3) {
    top: 14px;
}

body.allWork {
    overflow: hidden!important;
}
.allWork .bdoverlay {
    z-index: 9999;
    opacity: 1;
}
body.allWork .hamburger-icon span:nth-child(1) {
    top: 13px;
    width: 16px;
    left: 8px;
    transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
}
body.allWork .hamburger-icon span:nth-child(2) {
    content: none;
    display: none;
}
body.allWork .hamburger-icon span:nth-child(3) {
    top: 13px;
    left: 8px;
    width: 16px;
    transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
}



/*responsive*/
