.header{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	
}
.header > .container > .row > .col-md-12{
	position: static;
}
.header-topbar-cntlr{
	position: relative;
	margin-bottom: 122px;
	z-index: 11;
}
.top-sketch{
	height: 75px;
	background-size: cover!important;
	background-repeat: repeat!important;
	background-position: center center!important;
	position: absolute;
	bottom: -74px;
	left: 0;
	right: 0;
	z-index: 9;
	/*cursor: pointer;*/
}
.header-cntlr{
	/*position: relative;*/
}
.header-topbar{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	padding-top: 5px;
	position: relative;
	z-index: 10;
}
.hdr-details{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: 0 -15px;
}
.hdr-tel{
	padding: 0 15px;
}
.hdr-tel span{
	font-weight: 400;
	color: #009fe1;
	font-family: 'Luckiest Guy', cursive;
	line-height: 1;
	font-size: 14px;
}
.hdr-tel span a{
	display: inline-block;
	text-decoration: none;
	padding-left: 2px;
	color: #333434;
}
.hdr-tel span a:hover{
	color: #009fe1;
}
.hdr-open-time{
	padding: 0 15px;
}
.hdr-open-time span{
	font-weight: 400;
	color: #009fe1;
	font-family: 'Luckiest Guy', cursive;
	line-height: 1;
	font-size: 14px;
}
.hdr-open-time span span.open-time-schedule{
	padding-left: 2px;
	color: #333434;
}
.hdr-addr-socials-cntlr{
	
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin-left: auto;

}
.hdr-addr{
	
}
.hdr-addr a{
	position: relative;
	display: inline-block;
	text-decoration: none;
	padding-left: 30px;
	color: #333434;
	font-weight: 400;
	font-family: 'Luckiest Guy', cursive;
	line-height: 1;
	font-size: 14px;
}
.hdr-addr a:hover{
	color: #009fe1;
}
.hdr-addr a i{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	left: 0;
	display: inline-block;
}
.hdr-socials{
	
}
.hdr-socials ul{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: 0 -6px;
}
.hdr-socials ul li{
	padding: 0 6px;
}
.hdr-socials ul li:first-child{
	padding-left: 28px;
}
.hdr-socials ul li.tiktok-icon a img{
	max-width: 18px;
}
.hdr-socials ul li a{
	display: inline-block;
}
.hdr-socials ul li a img{
	display: inline-block;
	max-width: 22px;
	height: auto;
}
.hdr-socials ul li a:hover{
	opacity: 0.7;
}
.hdr-logo{
	position: absolute;
	left: 50%;
	top: 12px;
	transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	z-index: 13;
}
.logo{

}
.logo a{
	display: inline-block;
	max-width: 240px;
}
.header-inr{

}

.hdr-menu{
	position: relative;
	z-index: 13;
}

nav.main-nav ul li a{
	font-weight: 900;
	font-size: 14px;
	color: #fff;
	display: inline-block;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
}
nav.main-nav > ul{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 -10px;
	padding-top: 18px;
}
nav.main-nav > ul > li{
	padding: 0 19px;
	position: relative;
}
nav.main-nav > ul > li.menu-item-has-children a{
	padding-right: 20px;
}
nav.main-nav > ul > li.menu-item-has-children > a:before {
    content: "\f107";
    position: absolute;
    right: 0;
    color: #fff;
    font-size: 19px;
    top: 0;
    font-family: 'Font Awesome\ 5 Free';
    font-style: normal;
    font-weight: 600;
    text-decoration: inherit;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    line-height: 1;
}
nav.main-nav > ul > li.menu-item-has-children:hover > a:before {
    transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
}

nav.main-nav > ul > li > a{
	padding-bottom: 18px;
	/*text-shadow: 0px 2px 10px rgb(0 0 0 / 35%);
	text-shadow: 0px 3px 4px rgba(0,0,0,0.4);*/
	text-shadow: 0px 2.5px 3px rgb(0,0,0,0.3);
}
nav.main-nav > ul > li > a:after{
	content: "";
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	bottom: 0;
	transform-origin: left;
	width: 0;
	height: 10px;
	background-image: url('../images/hover-line.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
nav.main-nav > ul > li.menu-item-has-children > a:hover:after{
	content: none;
	display: none;
}

nav.main-nav > ul > li > a:hover:after{
	width: 62px;
}

nav.main-nav > ul > li.current-menu-item a{
	color: #009fe1;
}

nav.main-nav > ul > li.menu-item-has-children ul.sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    z-index: 10;
    width: 200px;
    padding: 0;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transform: scale3d(1,0,1);
    -ms-transform: scale3d(1,0,1);
    -webkit-transform: scale3d(1,0,1);
    -o-transform: scale3d(1,0,1);
    transform-origin: top;
    opacity: 0;
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 15%);
    -ms-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.15%);
    -webkit-box-shadow: 0 2px 12px 0 rgb(0 0 0 / 15%);
}
nav.main-nav > ul > li.menu-item-has-children:hover ul.sub-menu {
    transform: scale3d(1,1,1);
    -ms-transform: scale3d(1,1,1);
    -webkit-transform: scale3d(1,1,1);
    -o-transform: scale3d(1,1,1);
    opacity: 1;
    visibility: visible;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li {
    border-bottom: 1px solid #009fe1;
    position: relative;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li:last-child{
	border-bottom: none;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li a{
	font-size: 12px;
	color: #333434;
	display: block;
	padding: 7px 19px;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li a:hover{
	color: #009fe1;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li:after {
    position: absolute;
    content: '';
    background: #009fe1;
    top: 0;
    left: 0;
    bottom: 0;
    width: 2px;
    height: 0;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu > li:hover:after {
    height: 100%;
}





.hamburger-icon {
    height: 24px;
    width: 36px;
    position: relative;
}
.hamburger-icon span {
    position: absolute;
    content: "";
    height: 4px;
    left: 0;
    right: 0;
    top: 0;
    background: #fff;
}
.hamburger-icon span:nth-child(2) {
    top: 10px;
}
.hamburger-icon span:nth-child(3) {
    top: 20px;
}

body.allWork {
    overflow: hidden!important;
}
.allWork .bdoverlay {
    z-index: 9999;
    opacity: 1;
}
body.allWork .hamburger-icon span:nth-child(1) {
    top: 10px;
    left: 8px;
    transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	background: #000;
}
body.allWork .hamburger-icon span:nth-child(2) {
    content: none;
    display: none;
}
body.allWork .hamburger-icon span:nth-child(3) {
    top: 10px;
    left: 8px;
    transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	background: #000;
}

.allWork .bdoverlay {
    z-index: 9999;
    opacity: 1;
}
.bdoverlay {
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    -ms-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    z-index: -1;
}

.allWork .xs-mobile-menu {
    right: 0;
    opacity: 1;
    z-index: 99999;
    width: 100%;
}
.xs-mobile-menu {
    position: fixed;
    top: 0;
    right: -100%;
    bottom: 0;
    background: #fff;
    width: 0;
    z-index: 99999;
    opacity: 0;
    -ms-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    padding-top: 125px;
    height: 100%;
    max-width: 375px;
    width: 100%;
    padding-bottom: 135px;


   /* right: 0;
    opacity: 1;
    z-index: 99999;
    width: 100%;*/
}
.logo-close-btn-cntlr{
	display: flex;
	align-items: center;
	padding: 15px 0;
}
.xs-pop-up-menu-inr {
    height: 100%;
    width: 100%;
}
.xs-pop-up-menu-top {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding: 0 20px;
}
.xs-pop-menu-con {
    overflow-y: auto;
    height: 100%;
    width: 100%;
    padding: 0 20px;
    z-index: 10;
}

.xs-pop-menu-btm {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 4;
    background: #fff;
    padding: 20px 20px;
}
.xs-logo a{
	max-width: 150px;
	display: inline-block;
}



/*responsive*/
@media(max-width: 1199px){
	.hdr-details{
		margin: 0 -10px;
	}
	.hdr-open-time,
	.hdr-tel{
		padding: 0 10px;
	}
	.hdr-socials ul li:first-child{
		padding-left: 25px;
	}
	.hdr-open-time span,
	.hdr-tel span{
		font-size: 13px;
	}
	.hdr-addr a{
		font-size: 13px;
		padding-left: 26px;
	}
	.hdr-addr-socials-cntlr{

	}

	.logo a {
		max-width: 200px;
	}
	.header-topbar-cntlr{
		margin-bottom: 100px;
	}

}
@media(max-width: 991px){
	.hdr-details{
		display: block;
		margin: 0;
	}
	.hdr-open-time, .hdr-tel{
		padding: 0;
	}
	.hdr-tel{
		margin-bottom: 3px;
	}
	.hdr-addr-socials-cntlr{
		display: block;
	}
	.hdr-addr{
		padding: 0;
		margin-bottom: 10px;
	}
	.hdr-socials{
		padding: 0;
	}
	.hdr-addr-socials-cntlr{
		margin: 0;
	}
	.hdr-socials ul{
		justify-content: flex-end;
	}
	.logo a{
		max-width: 180px;
	}
	.header-topbar-cntlr {
		margin-bottom: 50px;
	}
}
@media(max-width: 767px){
	.header-topbar-cntlr{
		margin-bottom: 0;
	}
	.hdr-logo {
		position: relative;
		left: initial;
		top: initial;
		transform: initial;
		-ms-transform: initial;
		-webkit-transform: initial;
		-o-transform: initial;
		z-index: 13;
	}
	.header-inr{
		display: flex;
		align-items: center;
	}
	.hdr-menu{
		margin-left: auto;
	}
	.logo a{
		max-width: 150px;
	}
	.top-sketch{
		height: 60px;
		bottom: -59px;
	}
	.hdr-tel,
	.hdr-open-time{
		padding: 0;
		margin-bottom: 10px;
	}
	.hdr-socials ul li:first-child{
		padding-left: 10px;
	}
	.hdr-open-time span,
	.hdr-tel span{
		font-size: 16px;
	}
	.hdr-socials ul{
		justify-content: flex-start;
	}
	.hdr-socials ul{
		margin: 0 -10px;
	}
	.hdr-socials ul li{
		padding: 0 10px;
	}
	.hdr-socials ul li a img{
		max-width: 25px;
	}
	nav.main-nav > ul {
		display: block;
		margin: 0;
	}
	nav.main-nav > ul > li {
		padding: 10px 0;
		/*text-align: center;*/
	}
	nav.main-nav > ul > li > a{
		font-size: 16px;
		padding-bottom: 0;
		color: #333434;
	}
	nav.main-nav > ul > li.menu-item-has-children ul.sub-menu {
		position: static;
		z-index: 15;
		width: 100%;
		padding: 20px 0 0 0;
		transition: initial;
		transform: initial;
		opacity: 1;
		box-shadow: none;
		display: block;
		background: transparent!important;
	}
	nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li {
		border-bottom: 0;
		padding-left: 0;
	}
	nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li a {
		font-size: 14px;
	}
	nav.main-nav > ul > li.menu-item-has-children > a{
		padding-right: 0;
	}
	nav.main-nav > ul > li.menu-item-has-children > a:before{
		content: none;
		display: none;
	}
	.hamburgar-cntlr{
		margin-left: auto;
	}
}
@media(max-width: 479px){
	.xs-mobile-menu{
		max-width: 100%;
	}
}
