.hm-banner{
	position: relative;
}
.header-topbar-cntlr{
	background: #fff;
	position: relative;
}
.hm-banner-bg-black{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	background: #000;
}
.has-video .hm-video-cntlr {
    display: block;
}

.hm-video-cntlr {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;
    display: none;
}
#bnr-vdo {
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    z-index: 3;
}
.has-video .hm-banner-bg {
    display: none;
}
.hm-banner-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3;
    transition: all 1s;
    -ms-transition: all 1s;
    -webkit-transition: all 1s;
    background-attachment: fixed;
}
.hm-bnr-down-scroll{
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	z-index: 10;
	cursor: pointer;
}
.bnr-btm-sketch{
	height: 75px;
	background-size: cover!important;
	background-repeat: repeat!important;
	background-position: center center!important;
	position: absolute;
	bottom: -1px;
	left: 0;
	right: 0;
	z-index: 9;
}


.hm-banner-cntlr{
	height: 880px;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	padding: 100px 0 130px;
	position: relative;
	z-index: 8;
}
.fl-h1.hm-bnr-title{
	font-family: 'Luckiest Guy', cursive;
	font-weight: 400;
	margin-bottom: 0;
	line-height: 1.1;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-shadow: 1px 1px 10px rgb(0 0 0 / 64%);
}


/*animation*/
.UpdownAnimate{
	animation-name: clfloating;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}
@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }    
}
@keyframes clfloating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, 0px); }    
}




/*responsive*/
@media(max-width: 767px){
	.hm-banner-cntlr{
		height: 550px;
	}
	.hm-bnr-down-scroll-icon{

	}
	.hm-bnr-down-scroll-icon img{
		display: inline-block;
		max-width: 33px;
		height: auto;
	}
}
@media(max-width: 575px){
	.fl-h1.hm-bnr-title br{
		display: none!important;
		text-align: center;
	}
	.hm-bnr-desc{
		text-align: center;
	}
}