.race-booking-grd-sec{
	padding-bottom: 150px;
}
.race-booking-grd-sec .sec-entry-hdr{
	padding-bottom: 120px;
}
.race-booking-grds-cntlr ul{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -18px;
	justify-content: center;
}
.race-booking-grds-cntlr ul li{
	width: 32%;
	padding: 0 18px;
}
.race-booking-grd-item{
	position: relative;
	text-align: center;
}
.race-booking-grds-cntlr ul li.race-booking-grd-item-col-2{
	width: 36%;
	margin-top: -45px;
}
.race-booking-grds-cntlr ul li.race-booking-grd-item-col-2 .race-booking-grd-item-cntlr{
	padding: 20px 71px 30px;
}
.race-booking-grd-item-desc{
	color: #fff;
	display: flex;
	align-items: center;
	min-height: 265px;
	padding-bottom: 25px;
}
.race-booking-grd-item-desc p:last-child{
	margin-bottom: 0;
}
.race-booking-grd-item-btn{
	position: absolute;
	bottom: -18px;
	left: 0;
	right: 0;
}
.race-booking-grd-item-btn .ab-btn{
	color: #f3fe26;
	padding: 10px 28px;
	font-size: 19px;
}
.race-booking-grd-item-desc p{
	font-size: 13px;
	font-weight: 800;
}
.race-booking-grd-item-cntlr .race-booking-grd-item-title{
	margin-bottom: 25px;
	color: #fff;
}
.race-booking-grd-item-col-2 .race-booking-grd-item-desc{
	padding-bottom: 35px;
	min-height: 325px;
}
.race-booking-grd-item-cntlr{
	background: #009fe1;
	padding: 20px 50px 30px;
	box-shadow: -3px 1px 16px -2px rgba(0,0,0,0.75);
	-webkit-box-shadow: -3px 1px 16px -2px rgba(0,0,0,0.75);
	-moz-box-shadow: -3px 1px 16px -2px rgba(0,0,0,0.75);
	position: relative;
	border: 6px solid #009fe1;
	border-radius: 20px;
	transition: .5s;
}
.race-booking-grd-item:hover .race-booking-grd-item-cntlr{
	border: 6px solid #ff1000;
	box-shadow: none;
}
.race-booking-grd-item-heading span{
	padding-bottom: 10px;
	display: inline-block;
	vertical-align: baseline;
	color: #fff;
	font-size: 15px;
}
.race-booking-grds-cntlr ul li.race-booking-grd-item-col-2 .race-booking-grd-item-heading span{
	padding-bottom: 22px;
}
.features-sec{
	position: relative;
	background: #009fe1;
	padding-top: 105px;
	padding-bottom: 80px;
}
.features-sec-top-img{
	position: absolute;
	height: 75px;
	background-repeat: repeat-x;
	top: 0;
	left: 0;
	right: 0;
	margin-top: -1px;
}
.features-sec-btm-img{
	position: absolute;
	height: 75px;
	background-repeat: repeat-x;
	bottom: 0;
	left: 0;
	right: 0;
	margin-bottom: -1px;
}
.features-sec-cntlr{
	display: flex;
	padding-left: 60px;
	padding-right: 60px;
}
.features-sec-col{
	width: 50%;
}
.features-sec-col-1{
	padding-right: 10px;
}
.features-sec-col-2{
	padding-left: 10px;
}
.features-sec-col .features-grd-title{
	font-size: 30px;
	color: #fff;
	margin-bottom: 25px;
}
.features-sec-col ul li{
	color: #fff;
}
.features-sec-col ul li:before{
	background: #fff;
}
.features-sec-col ul{
	padding-left: 40px;
}
.conditions-sec{
	padding-top: 65px;	
	padding-bottom: 150px;
}
.condition-sec-desc{
	padding-left: 90px;
	padding-right: 90px;
}


/*start responsive*/

@media(max-width: 1199px){

	


	.race-booking-grd-sec .sec-entry-hdr{
		padding-bottom: 100px;
	}
	.race-booking-grd-sec{
		padding-bottom: 120px;
	}
	.race-booking-grds-cntlr ul{
		margin: 0 -14px;
	}
	.race-booking-grds-cntlr ul li{
		padding: 0 14px;
	}
	.race-booking-grds-cntlr ul li.race-booking-grd-item-col-2{
		margin-top: -40px;
	}
	.race-booking-grd-item-cntlr{
		padding: 15px 23px 30px;
	}
	.race-booking-grds-cntlr ul li.race-booking-grd-item-col-2 .race-booking-grd-item-cntlr{
		padding: 20px 38px 30px;
	}
	.race-booking-grd-item-desc{
		min-height: 280px;
	}
	.race-booking-grd-item-heading span{
		font-size: 14px;
	}
	.race-booking-grd-item-cntlr .race-booking-grd-item-title{
		margin-bottom: 20px;
	}
	.features-sec-col .features-grd-title{
		font-size: 26px;
	}
	.conditions-sec{
		padding-top: 55px;
		padding-bottom: 120px;
	}
	.features-sec-cntlr{
		padding-left: 35px;
		padding-right: 35px;
	}
}

@media(max-width: 991px){
	.race-booking-grd-sec{
		padding-bottom: 80px;
	}
	.race-booking-grd-item-desc,
	.race-booking-grd-item-col-2 .race-booking-grd-item-desc{
		min-height: 235px;
	}
	.race-booking-grd-item,
	.race-booking-grds-cntlr ul li.race-booking-grd-item-col-2{
		max-width: 480px;
		width: 100%;
		margin-top: 0;
		margin-left: auto;
		margin-right: auto;
	}
	.race-booking-grd-item-cntlr{
		padding: 15px 95px 30px;
	}
	.race-booking-grds-cntlr ul{
		margin-left: 0;
		margin-right: 0;
	}
	.race-booking-grds-cntlr ul li{
		padding-left: 0;
		padding-right: 0;
		width: 100%;
		padding-bottom: 60px;
	}
	.race-booking-grd-sec .sec-entry-hdr{
		padding-bottom: 70px;
	}
	.features-sec-cntlr{
		padding-left: 0;
		padding-right: 0;
	}
	.features-sec-col ul{
		padding-left: 20px;
	}

}

@media(max-width: 767px){
	.race-booking-grd-sec .sec-entry-hdr{
		padding-bottom: 35px;
	}
	.race-booking-grd-sec{
		padding-bottom: 50px;
	}
	.conditions-sec{
		padding-bottom: 85px;
	}
	.features-sec-cntlr,
	.condition-sec-desc{
		display: block;
		padding: 0
	}
	.features-sec-col{
		max-width: 320px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	.features-sec-col-1,
	.features-sec-col-2{
		padding: 0;
	}

	.features-sec-col .features-grd-title{
		font-size: 22px;
	}
	.features-sec-col ul{
		padding-left: 15px;
		padding-bottom: 30px;
	}
	.features-sec-col .features-grd-title{
		margin-bottom: 15px;
	}
}

@media(max-width: 575px){
	.race-booking-grd-item-cntlr{
		padding: 15px 50px 30px;
	}
}

/*start responsive*/