.ab-packages-section{

}
.packages-grids-cntlr{

}
.packages-grid-item:hover .feat-img{
	opacity: 1;
}
.packages-grids-cntlr ul{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 -32px;
	flex-wrap: wrap;
}
.packages-grids-cntlr ul li{
	max-width: 33.3333%;
	width: 100%;
	padding: 0 32px 180px 32px;
}

.packages-grid-item{
	position: relative;
}
.cat-grid-img-cntlr{
	box-shadow: 0px 0px 20px 6px rgba(249,249,249,0.65);
	-webkit-box-shadow: 0px 0px 20px 6px rgba(249,249,249,0.65);
	-moz-box-shadow: 0px 0px 20px 6px rgba(249,249,249,0.65);
	border-radius: 12px; 
	overflow: hidden;
	margin-bottom: 18px;
	min-height: 360px;
}
.cat-grid-img-cntlr h3{

}
.feat-img{
	height: 360px;
	border-radius: 12px; 
	transition: all .5s;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	opacity: .8;
}
.cat-abs-heading {
    position: absolute;
    top: -17px;
    left: 0;
    right: 0;
    padding: 0 25px;
    z-index: 10;
    text-align: center;
}
.abs-tt a{
	color: #333434;
	/*display: inline-block;*/
	text-transform: uppercase;
}
.abs-tt:hover a{
	color: #ff1000;
	transition: all .5s;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
}
.cat-grid-des {
    text-align: center;
    display: flex;
    margin-bottom: 15px;
    flex-direction: column;
}
.cat-grid-des strong{
	display: inline-block;
	font-family: 'Luckiest Guy';
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
}
.cat-grid-btns{
	display: flex;
	justify-content: center;
}
.cat-grid-btns a:first-child{
	margin-right: 12px;
}
.cat-grid-btns .ab-btn:hover{
	border: 1px solid #ff1000;
	color: #ff1000;
	background-color: #fff;
	transition: all .5s;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
}
.cp-sec-entry-header{
	padding-bottom: 95px;
}
.cp-sec-entry-header .sec-entry-hdr-title{
	padding-bottom: 12px;
}









/*responsive*/
@media (max-width: 1699px){

}
@media(max-width: 1199px){

}
@media(max-width: 991px){

}
@media(max-width: 767px){

}
@media(max-width: 575px){

}
@media(max-width: 479px){

}
@media(max-width: 359px){

}